body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.key {
  width: 120px;
  position: fixed;
  top: 1em;
  left: 10px;
  text-align: center;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0;
  font-size: 12px;
}

#skills {
  margin-left: 150px;
  margin-top: 14px;
  position: relative;
}

#skills div {
  margin: 2px;
  cursor: default;
}

/*#skills div:hover {
  text-shadow: 0 0 2px rgb(66, 27, 85);
  color: #fff;
}*/

/*
.framework {
  text-shadow: 0px 0px 2px red;
}

.environment {
  text-shadow: 0px 0px 2px green;
}

.db {
  text-shadow: 0px 0px 2px purple;
}

.server {
  text-shadow: 0px 0px 2px blue;
}

.language {
  text-shadow: 0px 0px 2px orange;
}

.technology {
  text-shadow: 0px 0px 2px black;
}

.scm {
  text-shadow: 0px 0px 2px gray;
}
*/